@model ManhaleAspNetCore.Models.Khalias

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Khalias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ssn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ssn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhaliaLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhaliaLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhaliaType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhaliaType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wood)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wood)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PraweezCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PraweezCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manhal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manhal.FlowerName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
